* {
  margin: 0;
}

a {
  color: #fff;
  text-decoration: none;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
  background-color: #689CD2;
  color: #fff;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.header__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__item {
  padding: 10px 15px;
  font-size: 20px;
  margin: 0 0 0 5px;
}

.header__item:hover {
  background-image: -webkit-linear-gradient(352deg, #689CD2, #FF9900);
  background-image: -o-linear-gradient(352deg, #689CD2, #FF9900);
  background-image: linear-gradient(98deg, #689CD2, #FF9900);
  border-radius: 0 50px 50px 0;
  height: 44px;
}

.headerlogo {
  font-weight: 700;
}

.header-button {
  cursor: pointer;
}

.sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: calc(100vh - 57px);
  width: 150px;
  border-right: 1px solid #D7DBDD;
  background-color: #fdfdfd;
  padding: 10px;
}

.sidebar a {
  color: #689CD2;
}

.sidebar__item {
  cursor: pointer;
  padding: 8px 10px;
  font-size: 18px;
}

.sidebar__item:hover {
  background-color: #EEF3F5;
  border-radius: 8px;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  background: #333;
  height: 1000px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

h1 {
  text-align: center;
  color: #fff;
  margin-bottom: 15px;
}

.wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  width: 90%;
  margin: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

button {
  width: 30px;
  border: none;
  background: transparent;
  color: #fff;
  font-size: 40px;
  text-align: center;
  outline: none;
  opacity: 0.5;
  -webkit-transition: opacity 300ms ease-out;
  -o-transition: opacity 300ms ease-out;
  transition: opacity 300ms ease-out;
}

button:hover {
  opacity: 1;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.scroller {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow: hidden;
}

.items {
  list-style-type: none;
  white-space: nowrap;
  -webkit-transition: -webkit-transform 1s ease-in-out;
  transition: -webkit-transform 1s ease-in-out;
  -o-transition: transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
  transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
}

.item {
  padding: 30px 20px;
  display: inline-block;
  width: 100%;
  height: calc(100vh * 0.85);
  background-size: cover;
  background-position: 50% 50%;
  -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}

.gallery {
  padding: .5vw;
  font-size: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.gallery div {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  width: 237px;
  margin: .5vw;
}

.gallery div img {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 750px) {
  .gallery {
    background: #000;
  }
  .gallery div {
    margin: 0;
  }
  .gallery {
    padding: 0;
  }
}

.gallery:hover img {
  opacity: 0.3;
  -webkit-transition: .8s opacity;
  -o-transition: .8s opacity;
  transition: .8s opacity;
}

.gallery:hover img:hover {
  opacity: 1;
  -webkit-transition: .8s opacity;
  -o-transition: .8s opacity;
  transition: .8s opacity;
}

img {
  max-width: 100%;
}

body {
  font-size: 17px;
  line-height: 1.4;
}

* {
  -webkit-transition-property: background-color, border-color, color, opacity, -webkit-box-shadow;
  transition-property: background-color, border-color, color, opacity, -webkit-box-shadow;
  -o-transition-property: background-color, border-color, box-shadow, color, opacity;
  transition-property: background-color, border-color, box-shadow, color, opacity;
  transition-property: background-color, border-color, box-shadow, color, opacity, -webkit-box-shadow;
  -webkit-transition-duration: 0.2s;
       -o-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: linear;
       -o-transition-timing-function: linear;
          transition-timing-function: linear;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 15px;
  padding: 1.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.card {
  position: relative;
  margin-bottom: 20px;
  padding-bottom: 30px;
  background: #fefff9;
  color: #363636;
  text-decoration: none;
  -webkit-box-shadow: rgba(0, 0, 0, 0.19) 0 0 8px 0;
          box-shadow: rgba(0, 0, 0, 0.19) 0 0 8px 0;
  border-radius: 4px;
}

.card span {
  display: block;
}

.card .card-summary {
  padding: 5% 5% 3% 5%;
}

.card .card-header {
  position: relative;
  height: 175px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgba(255, 255, 255, 0.15);
  background-blend-mode: overlay;
  border-radius: 4px 4px 0 0;
}

@media (max-width: 600px) {
  .card {
    width: 100%;
  }
}

@media (min-width: 700px) {
  .card {
    max-width: 320px;
    margin-right: 20px;
    margin-bottom: 20px;
  }
}

.card .card-header:hover, .card .card-header:focus {
  background-color: rgba(255, 255, 255, 0);
}

.card .card-title {
  background: rgba(104, 156, 210, 0.65);
  color: wheat;
  padding: 3.5% 0 2.5% 0;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.card .card-title h3 {
  font-size: 1.2em;
  line-height: 1.2;
  padding: 0 3.5%;
  margin: 0;
}

.card .card-meta {
  max-height: 0;
  overflow: hidden;
  color: #666;
  font-size: .78em;
  text-transform: uppercase;
  position: absolute;
  bottom: 5%;
  padding: 0 5%;
  -webkit-transition-property: max-height;
  -o-transition-property: max-height;
  transition-property: max-height;
  -webkit-transition-duration: 0.4s;
       -o-transition-duration: 0.4s;
          transition-duration: 0.4s;
  -webkit-transition-timing-function: ease-in-out;
       -o-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

.card:hover, .card:focus {
  background: white;
  -webkit-box-shadow: rgba(0, 0, 0, 0.45) 0px 0px 20px 0px;
          box-shadow: rgba(0, 0, 0, 0.45) 0px 0px 20px 0px;
}

.card:hover .card-title, .card:focus .card-title {
  background: rgba(104, 156, 210, 0.95);
}

.card:hover .card-meta, .card:focus .card-meta {
  max-height: 1em;
}

.form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  margin: 0 auto;
}

h2 {
  text-align: center;
}

form {
  -ms-flex-preferred-size: 70vh;
      flex-basis: 70vh;
  padding: 2em;
  background: white;
  -webkit-box-shadow: 0 0 2em rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 2em rgba(0, 0, 0, 0.2);
  border-radius: 0.25em;
}

input {
  padding: 0.5em;
  font-size: 0.875em;
  background: #f4f4f4;
  border: 1px solid #ccc;
  border-width: 1px 1px 1px 0;
  border-radius: 0;
}

input:focus {
  background: #fff;
  -webkit-box-shadow: inset 0.1em 0.1em 0.25em rgba(0, 0, 0, 0.2);
          box-shadow: inset 0.1em 0.1em 0.25em rgba(0, 0, 0, 0.2);
  outline: 0;
}

.form-field {
  margin-bottom: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form-field label {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 4em;
          flex: 0 1 4em;
  padding: 1em;
  background: #fff;
  border: 1px solid #ccc;
  font-size: 0.75em;
  text-align: center;
  text-shadow: 0 1px 0 #fff;
  line-height: 1;
  border-radius: 0.25em 0 0 0.25em;
}

.form-field input {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.input-right input, .multi-input input:last-child {
  border-radius: 0 0.25em 0.25em 0;
}

.submit-field {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

input[type="submit"] {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
  padding: 0.8em;
  font-size: 1.2em;
  text-shadow: 0 1px 0 #fff;
  background: #689CD2;
  border-radius: 2.25em;
  border: 0;
  -webkit-transition: 0.35s;
  -o-transition: 0.35s;
  transition: 0.35s;
  cursor: pointer;
}

input[type="submit"]:hover {
  color: #ccc;
}
